@model CoverType
@{
    ViewData["Title"] = "Edit";
}

<form method="post">
    <div>
        <h1>Edit Cover Type</h1>
        <input asp-for="Id" class="form-control" hidden/>
    </div>
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" disabled/>
    </div>
    <div>
        <a asp-controller="CoverType" asp-action="Index" class="btn btn-primary">Back To List</a>
        <button type="submit"  class="btn btn-primary">Delete</button>
    </div>
</form>

