@model CoverType
@{
    ViewData["Title"] = "Edit";
}

<div>
    <form method="post">
        <div class="pt-4 pb-4">
            <a1 class="fs-1 text-primary">Edit Cover Type</a1>
        </div>
        <div>
            <label asp-for="Name" class="fs-4"></label>
            <input asp-for="Name" class="form-control fs-4" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="pt-3">
            <a class="btn btn-primary" asp-controller="CoverType" asp-action="Index" >Back to list</a>
            <button type="submit" class="btn btn-primary">Edit</button>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
