@model Category
@{
    ViewData["Title"] = "Create";
}

<div>
    <form method="post">
        <div class="pt-4 pb-4">
            <a1 class="fs-1 text-primary">Creat New Category</a1>
        </div>
        <div>
            <label asp-for="Name" class="fs-4"></label>
            <input asp-for="Name" class="form-control fs-4" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
         <div class="pt-2">
            <label asp-for="DisplayOrder" class="fs-4"></label>
            <input asp-for="DisplayOrder" class="form-control fs-4" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <div class="pt-3">
            <a class="btn btn-primary" asp-controller="Category" asp-action="Index" >Back to list</a>
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

